In [5]:
import psycopg2

conn = psycopg2.connect(
    host= "localhost",
    database = "auto-reserv",
    user="mahmoud",
    password="passer"
)
cursor = conn.cursor()
client = ("DIA","Samba","221887879966","","bathie","passer","client")
# sql = "INSERT INTO utilisateur (nom,prenom,telephone,image,login,mot_de_passe,role) VALUES {}".format(client)
sql = "SELECT * FROM utilisateur"
cursor.execute(sql)
conn.commit()
cursor.close()
conn.close()

[(5, 'THIAM', 'Mamadou', '221776567788', None, 'momo', 'passer', 'admin'), (6, 'SY', 'Abdoul', '22177656677', None, 'doul', 'passer', 'client'), (7, 'Lam', 'Siradji', '22177676877', None, 'baba', 'passer', 'client'), (8, 'DIA', 'Samba', '221887879966', '', 'bathie', 'passer', 'client')]

In [52]:
def requete(sql):
    import psycopg2
    conn = psycopg2.connect(
        host= "localhost",
        database = "auto-reserv",
        user="mahmoud",
        password="passer"
    )
    cursor = conn.cursor()
    cursor.execute(sql)
    conn.commit()
    return cursor
    cursor.close()
    conn.close()

In [42]:
client = ("SABALY","Moussa","2218878793334","","moise","passer","client")
sql = "INSERT INTO utilisateur (nom,prenom,telephone,image,login,mot_de_passe,role) VALUES {}".format(client)
r = requete("DELETE FROM utilisateur WHERE id_utilisateur = 14;")

# r.fetchall()

In [55]:
requete("SELECT * FROM utilisateur").fetchall()

[(5, 'THIAM', 'Mamadou', '221776567788', None, 'momo', 'passer', 'admin'),
 (6, 'SY', 'Abdoul', '22177656677', None, 'doul', 'passer', 'client'),
 (7, 'Lam', 'Siradji', '22177676877', None, 'baba', 'passer', 'client'),
 (8, 'DIA', 'Samba', '221887879966', '', 'bathie', 'passer', 'client'),
 (13, 'SABALY', 'Moussa', '2218878793334', '', 'moise', 'passer', 'client')]

In [57]:
a = {}

if a:
    print("True")
else:
    print("False")

False